Flask==0.11.1
Flask-RESTful==0.3.5
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.12
Werkzeug==0.11.11
aiohttp==1.1.6
aniso8601==1.2.0
async-timeout==1.1.0
chardet==2.3.0
click==6.6
flask-swagger==0.2.13
gevent==1.1.2
greenlet==0.4.10
grequests==0.3.0
httmock==1.2.5
itsdangerous==0.24
mockito==0.7.0
multidict==2.1.4
netifaces==0.10.5
python-consul==0.6.1
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.3
six==1.10.0
tornado==4.4.2
yarl==0.8.1
